.service {
  flex-direction: column;
  display: flex;
  height: 435px;
  width: 220px;
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;


}

.img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

.service-title{
    font-weight: 600;
}

.service-desciption{
    text-align: center;
}