.select-services {
  padding: 0.5rem;
  margin: 1rem 1rem;
  border: 1px solid #e1b2f0;
  box-shadow: 12px 12px 24px #e1b2f0;
  display: flex;
  flex-wrap: wrap;
  min-width: min-content;
  min-height: min-content;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  justify-items: center;

  .contain-service {
    border: 1px solid #e1b2f0;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    &:hover {
      box-shadow: 0 0 40px #e1b2f0;
      transform: scale(1.05, 1.05);
      background-color: rgba(255, 255, 255, 0.767);
    }
  }

  .input-submit-service {
    margin-top: 1rem;
  }
}
