* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

:root {
  --primary-color: #58abf6;
  --border: #007aff;
  --error: #e94040;
  --success: #00c469;
  --background_color:#f5f5f5;
}

.container-main{
  background-image: url('https://cdn.pixabay.com/photo/2021/04/12/19/35/flowers-6173793_960_720.jpg');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: table;
  min-width: 90vw;
  min-height: 93vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 245, 253)
}