* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --primary-color: #58abf6;
  --border: #007aff;
  --error: #e94040;
  --success: #00c469;
  --background_color: #f5f5f5;
}

.container-main {
  background-image: url("https://innbythesea.com/media/5313/ibts_spa_stock_3.jpg?anchor=center&mode=crop&width=1500&height=1000&rnd=132168319200000000&quality=70");
  background-repeat: no-repeat;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  background-position: center center;
  background-size: cover;
}

.container {
  display: table;
  min-width: 90vw;
  min-height: 93vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 245, 253);
  opacity: 75%;
}
