.providers-container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    background-color: var(--background_color);


}

.providers-container-main{
    background-color: var(--background_color)
}