.container-main{
    background-image: url('https://cdn.pixabay.com/photo/2021/04/12/19/35/flowers-6173793_960_720.jpg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: table;
    min-width: 90vw;
    min-height: 93vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(253, 245, 253)
}

.providers-container{
    display: flex;
    padding: 50px;
}

.providers-filters {
    width: 50%;
}

.providers-list {
    width: 50%;
}