.service-container {
  background-color: var(--background_color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
}
.service-details {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 600px;
  padding: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
