.select-services {
  padding: 0.5rem;
  margin: 1rem 1rem;
  border: 0.5px solid #e1b2f0;
  box-shadow: 12px 12px 24px #e1b2f0;
  display: flex;
  flex-wrap: wrap;
  min-width: min-content;
  min-height: min-content;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  justify-items: center;

  .contain-service {
    border: 0.5px solid #e1b2f0;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.3rem;
    &:hover {
      box-shadow: 0 0 40px #e1b2f0;
      transform: scale(1.05, 1.05);
      background-color: #ffffffc4;
    }
    .input-service {
      margin-left: 1rem;
    }
  }
  .input-submit-service {
    width: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 2px 2px 2px gray;
    background-color: #e1b2f0;
  }
}
