.provider-container{
    margin: 10px 10px 0 10px;
    display: grid;
}

.provider-card{
    display: flex;
    position: relative;
    box-shadow: 0 0 10px 2px black;
    transition: background-color 1s ease-out 50ms;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
    border-top-left-radius: 8em;
    border-bottom-left-radius: 8em;
    justify-content: space-between;
    align-items: center;
}

.provider-card:hover {
    background-color: rgb(250, 199, 152);
}

.card-img {
    height: 160px;
    width: 160px;
    border-radius: 8rem;
    box-shadow: 0 0 5px 1px black;
}

.navLink {
    text-decoration: none;
}

.card-left {
    display: flex;
}

.card-title {
    color: aliceblue;
    text-shadow: 0 0 2px black, 0 2px 2px black, 0 0 2px black;

}

.card-button {
    display: flex;
    background: #f1d0d5;
    transition: background-color 2s ease-out 100ms;
    padding: 5px 15px 5px 15px;
    border-radius: 0.5em;
    box-shadow: 0 3px 3px black;
    font-weight: bold;
    border: 1px solid rgb(136, 136, 136);
    text-transform: uppercase;
    align-items: center;
    margin: 0.2em;
    justify-content: center;
}

.card-button:hover {
    background-color: #FF1493;
    color: aliceblue;
}

.card-options {
    display: flex;
    flex-direction: column;
}