.calendar-events{
    width: 50%;
    margin: 30px;
}

.calendar-container{
    display: flex;
    padding: 50px;
}

.calendar-division{
    width: 50%;
    margin: auto;
}

.event{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.available {
    background-color: rgb(206, 236, 255);
}

.not-available {
    background-color: rgb(254, 255, 206);
}

.not-active {
    background-color: rgb(255, 206, 206);
}

.fc-day:hover {
    background-color: rgb(173, 204, 253);
}

.fc-day-past {
    background-color: rgb(185, 185, 185);
}

@media (max-width: 1200px) {
    .calendar-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .calendar-division{
        width: 100%;
        margin: auto;
    }
    .calendar-events{
        width: 100%;
        margin: auto;
    }
}


