.container{
    display: table;
    min-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.calendar-events{
    width: 50%;

}

.calendar-container{
    display: flex;
}

.calendar{
}

.calendar-division{
    width: 50%;
    margin: auto;
}

