.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #e2e2e2;
    margin: 12% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    padding: 30px;
    border-radius: 0.5em;
    width: fit-content; /* Could be more or less, depending on screen size */
    position: relative;
  }

  .modal-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 20px 0 20px 0;
    tbody{
      display: table;
      td{
        border: 1px solid black;
        padding: 5px 15px 5px 15px;
      }
    }
    p{
      color: rgb(124, 0, 0);
      display: flex;
      margin: 10px 0 10px 0;
    }
  }

  .modal-button{
    font-family: "Mulish", sans-serif;
    border-radius: 0.5em;
    padding: 2px;
    position: absolute;
    bottom: 20px;
  }

  .modal-button:hover {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
  }

  .left{
    left: 20px;
  }
  
  .right{
    right: 20px;
  }

  .td-address{
    display: flex;
    justify-content: space-between;
    select{
     height: max-content;
     border-radius: 0.2em;
     margin-left: 5px;
     padding: 0 5px 0 5px;
    }
  }