.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #e2e2e2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    position: relative;
  }

  .modal-detail {
    margin: 20px 0 20px 0;
    tbody{
      tr{
      }
      td{
        border: 1px solid black;
        padding: 5px 15px 5px 15px;
      }
    }
  }

  .modal-button{
    position: absolute;
    bottom: 5px;
  }

  .left{
    left: 5px;
  }
  
  .right{
    right: 5px;
  }