.accordion-wrapper {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 500px;
}

.accordion-item {
  background: #ffffff;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
    0 12.5px 10px rgb(0 0 0 / 6%);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-description {
  max-height: 0;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0, 1, 0, 1);
  position: relative;
}

.accordion-description-show {
  max-height: 9999px;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0, 1, 0, 1);
  position: relative;
}

.accordion-item-options {
  position: absolute;
  bottom: 2px;
  right: 2px;
  
}

.trash-icon, .edit-icon{
margin: 0 5px;
}

.trash-icon{
    color: red;
}