.booking-container {
    background-color: #ffffff;
    width: 500px;
    height: 550px;
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
      0 12.5px 10px rgb(0 0 0 / 6%);
  }

  .booking-info{
      margin-top: 15px;
  }